---
import PbImage from "../components/PbImage.astro";
import { getSceneName } from "../../backend/backend.mjs";
import { formatDate } from "../../backend/backend.mjs";
const artiste = Astro.props;
console.log(artiste);
---

<a href={`/artistes/${artiste.id}`}>
    <div
        style="background-color: var(--color-vert); margin: 10px; padding: 10px; border-radius: 15px;"
    >
        <h3 class="text-center">
            {artiste.prenom_artiste}
            {artiste.nom_artiste}
        </h3>
        <ul>
            <li>{formatDate(artiste.date_presentation)}</li>
            <li>{getSceneName(artiste)}</li>
            <PbImage
                record={artiste}
                recordImage={artiste?.image?.[0] || artiste?.photo || ""}
                width={400}
                height={300}
            />
        </ul>
    </div>
</a>
